<!DOCTYPE html>
<html>
<head>
	<link href="/stylesheets/main.css" rel="stylesheet" type="text/css">
</head>

<body>

<!-- var params = {urll: urll, html: tweets, picture: picObj.picture[0].picture, name: nameObj.name[0].name}; -->

<div class="header">
	<h2>
		A Simple Twitter Page
	</h2>
	<hr>
	<h4>Here are the past 20 tweets from <%= urll %>    </h4>
</div>
    
<br>
<div class="tableBox">
	<img src= <%= picture %> alt= <%= name %> >
<table>
<% for(var i=0; i < html.length; i = (i + 2)) { %>
   <tr>
     <td width='60'><%= html[i] %> <br> </td>
     <td><%= html[i + 1] %> <br> </td>
   </tr>
   <tr></tr>
<% } %>
</table>
</div>
<!-- <p> HTML: <br><br> <%= html %> </p> -->


</body>
</html>
